@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sora:wght@100..800&display=swap');
/*
 font-family: "Open Sans", sans-serif;
 font-family: "Sora", sans-serif;
*/


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --blue : #00A1FC;
    --light-gray : #F7F7F7;
    --light-blue : #D7E0F5;
    --grey : #4E4E4E
}