.cabecalho{
    background-color: var(--light-blue);
    display: flex;
    padding: 15px 15px 15px 0px;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    margin: 10px;
    font-family: "Sora", sans-serif;
    font-size: 16px;
    color: black;
}

.botoes{
    border-radius: 5px;
    border: 0;
}
.botoes a{
    text-decoration: none;
    font-family: "Sora", sans-serif;
    font-size: 14px;
}

.registrar{
    padding: 10px 12px; 
    background-color: var(--grey);
}
.registrar a{
    color: white;
}

.login{
    padding: 10px 23px;
    background-color: white;
}
.login a{
    color: var(--grey);
}