#banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 20px 15px;
    justify-content: space-around;
    background-color: #EFEFEF;
    gap: 10px;
}
figure{
    text-align: center;
}
img{
    width: 100%;
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}
.texto .consulte{
    padding: 14px 16px;
    background-color: var(--blue);
    color: white;
    font-family: "Sora", sans-serif;
    font-size: 16px;
    margin: 10px 0;
}

#problemas-comuns {
    margin: 50px 15px;
}
.problemas-container{
    margin: 20px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.problemas-box{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.problemas-box h1{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.problemas-box .consulte-problemas{
    padding: 7px 8px;
    background-color: #ffffff;
    border: var(--blue) 1px solid;
    border-radius: 10px;
    margin: 10px 0;
}
.problemas-box .consulte-problemas a{
    color: var(--blue);
    font-family: "Sora", sans-serif;
    font-size: 16px;
}
#ajuda{
    background-color: #EFEFEF;
    padding: 20px;
    text-align: center;
}
#ajuda .duvidas-frequentes{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 0.1px solid #dfdfdf;
}
#ajuda .duvidas-frequentes h1{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    img{
        width: 90%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    header{
        font-size: 28px !important;
    }
    h1{
        font-size: 18px;
    }
    .problemas-box .consulte-problemas{
        padding: 4px 6px;
    }
    .texto p{
        font-size: 18px;
    }
    .texto .consulte{
        padding: 12px 14px;
        font-size: 14px;
    }
}
@media screen and (max-width: 767px){
    header{
        font-size: 22px !important;
    }
    h1{
        font-size: 16px;
    }
    .texto p{
        font-size: 14px;
    }
   #banner{
    padding: 30px;
    grid-template-columns: 1fr;
   }
   .banner figure img{
    width: 70%;
   }
   .problemas-container{
    grid-template-columns: 1fr;
   }
   .problemas-box{
    margin: 0px 30px;
   }
}
